# булим venv <3
/.venv/

# а тут булим .env -_-
.env*

# забыл про __pycache__
**/__pycache__/

# для тестов
test*

# мой скрипт
commit.sh

# а что если убрать .gitignore
/.gitignore

# от DataGrip и возможно других IDE от JetBrains появилась папка .idea
/.idea/