body {
  background-color: #0e0e0e;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  display: flex;
  margin: 0;
  flex-direction: column;
}

#header {
  background-color: #0e0e0e;
  display: flex;
  max-height: 50px;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  margin-bottom: 10px;
  border-bottom: solid 2px #222222;
  user-select: none;
}

#header img {
  width: auto;
  height: 25px;
  object-fit: contain;
}

#header nav {
  font-family: 'JetBrains Mono';
  margin-right: 40px;
  user-select: none;
}

#header nav a {
  color: #666666;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
}

#header a:hover, #header a:active {
  color: #f0f0f0;
}

#user-name {
  color: #f0f0f0;
  font-family: "Unbounded";
  font-weight: 800;
  font-size: 100px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-bottom: 0;
  max-height: 100px;
}

#user-class {
  display: inline-block;
  color: #666666;
  font-family: "JetBrains Mono";
  margin-left: 15px;
  margin-top: 30px;
}

.red-title {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  color: #ff3355;
  margin-left: 15px;
  padding-top: 100px;
}